@model IEnumerable<FitnessClub.Models.Client>
@{
    ViewBag.Title = "ClientsList";
    Layout = "~/Views/Employee/_EmployeeLayout.cshtml";
}


<div class="content">
    <div class="search-tool">
        <input type="text" id="searchClient"  autofocus="autofocus" oninput="clientSearch()" placeholder="Kereses">
    </div>
    <div class="list-table" id="clients">
        <div class="list-header">
            <p>Csalad nev</p>
            <p>Kereszt nev</p>
            <p>Telefon szam</p>
            <p>E-mail</p>
            <p>CNP</p>
        </div>
        @foreach (var item in Model)
        {

        <div class="list-item" onclick="location.href='@Url.Action("TicketsList", "Employee",item)'">
            <p style="display:none">@Html.Encode(item.Id)</p>
            <p>@Html.Encode(item.LastName)</p>
            <p>@Html.Encode(item.FirstName)</p>
            <p>@Html.Encode(item.Phone)</p>
            <p>@Html.Encode(item.Email)</p>
            <p>@Html.Encode(item.IdentityNumber)</p>
        </div>
        }
    </div>
</div>
