@model List<FitnessClub.Models.Ticket>

@{
    ViewBag.Title = "TicketsList";
    Layout = "~/Views/Employee/_EmployeeLayout.cshtml";
}



<div class="content">
    <div class="">
        Beszuras
    </div>
    <div class="list-table">
        <div class="list-header">
            <p>Nev</p>
            <p>Kezdeti datum</p>
            <p>Lejarati datum</p>
            <p>Utolso belepes</p>
            <p>Belepesek szama</p>
        </div>
        @foreach (var item in (dynamic)Model)
        {

            if(((item.EndDate == item.BuyingDate)&&item.RemaningLoginNum<=0)||((item.RemaningLoginNum==-1)&&item.EndDate<=DateTime.Now)||(item.RemaningLoginNum==-1)&&item.LastLoginDate.Day==DateTime.Now.Day||((item.RemaningLoginNum!=-1)&&(item.EndDate != item.BuyingDate)&&(item.EndDate<=DateTime.Now||item.RemaningLoginNum<=0)))
            {

            <div class="list-item disabled">
                <p>@Html.Encode(item.TicketName)</p>
                <p>@Html.Encode(item.StartDate)</p>
                @if(item.EndDate == item.BuyingDate)
                {
                <p>Alkalmas</p>
                }
                else
                {
                <p>@Html.Encode(item.EndDate)</p>
                }
                <p>@Html.Encode(item.LastLoginDate)</p>
                @if(item.RemaningLoginNum==-1)
                {
                <p>Datumos</p>
                }
                else
                {
                <p>@Html.Encode(item.RemaningLoginNum)</p>
                }
            </div>
            }
            else
            {
            <div class="list-item ">
                <p>@Html.Encode(item.TicketName)</p>
                <p>@Html.Encode(item.StartDate)</p>
                @if(item.EndDate == item.BuyingDate)
                {
                    <p>Alkalmas</p>
                }
                else
                {
                    if(item.EndDate-DateTime.Now.Day<=2)
                    {
                        <p style="color:red">@Html.Encode(item.EndDate)</p>
                    }
                    else
                    {
                        <p>@Html.Encode(item.EndDate)</p>
                    }
                }
                <p>@Html.Encode(item.LastLoginDate)</p>
                @if(item.RemaningLoginNum==-1)
                {
                    <p>Datumos</p>
                }
                else
                {
                    if(item.RemaningLoginNum<=2)
                    {
                        <p style="color:red">@Html.Encode(item.RemaningLoginNum)</p>
                    }
                    else
                    {
                        <p>@Html.Encode(item.RemaningLoginNum)</p>
                    }
                }
            </div>
            }
        }
    </div>
</div>

