<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/table-design.css" type="text/css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navi">
        <ul>
            <li>@Html.ActionLink("Clients", "ListClient", "Admin")</li>
            <li>@Html.ActionLink("Employees", "ListEmployees","Admin")</li>
            <li>@Html.ActionLink("Tickets","ListTickets","Admin")</li>
            <li>@Html.ActionLink("Events","ListEvents","Admin")</li>
            <li>@Html.ActionLink("Ticket Types", "ListTicketTypes","Admin")</li>
            <li>@Html.ActionLink("Rooms", "ListRooms","Admin")</li>
            <li>@Html.ActionLink("Email Send", "SendEmail","Admin")</li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>


