@model PagedList.IPagedList<FitnessClub.Models.TicketType>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListTicketTypes";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Ticket Types</h2>

<div>
    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Number of Daya</th>
            <th>Occasion</th>
            <th>Status</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Encode(item.Id)</td>
                <td>@Html.Encode(item.DayNum)</td>
                <td>@Html.Encode(item.OccasionNum)</td>
                <td>@Html.Encode(item.Status)</td>
                <td>@Html.Encode(item.Price)</td>
                <td>@Html.ActionLink("Edit", "EditTicketTypes", item)</td>
                <td>
                    @if (!false)//TODO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    {
                        @Html.ActionLink("Delete", "DeleteTicketType", new { Id = item.Id })
                    }
                    else
                    {
                        @Html.Encode("Delete")
                    }
                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListTicketTypes",
        new { page }))
</div>
<div>
    @Html.ActionLink("Add new ticket type", "CreateTicketType")
</div>