@model PagedList.IPagedList<FitnessClub.Models.Employee>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListEmployees";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Employee list</h2>

<div>

    @using (Html.BeginForm())
    {
        <p>
            Find: @Html.TextBox("SearchString")
            <input type="submit" value="Search"/>
        </p>
    }

    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Deleted</th>
            <th>Department</th>
            <th>Work Place</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Encode(item.Id)</td>
                <td>@Html.Encode(item.Name)</td>
                <td>@Html.Encode(item.IsDeleted)</td>
                <td>@Html.Encode(item.Department)</td>
                <td>@Html.Encode(item.WorkPlaceName)</td>
                <td>@Html.ActionLink("Edit", "EditEmployee", item)</td>
                <td>
                    @if (!item.IsDeleted)
                    {
                        @Html.ActionLink("Delete", "DeleteEmployee", new { Id = item.Id })
                    }
                    else
                    {
                        @Html.Encode("Delete")
                    }
                </td>
            </tr>
            }
    </table>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListEmployees",
        new { page }))
</div>

<div>
    @Html.ActionLink("Add new employee", "CreateEmployee")
</div>