@model PagedList.IPagedList<FitnessClub.Models.Ticket>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListTickets";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Ticket List</h2>

<div>
    @using (Html.BeginForm())
    {
        <p>
            Find: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Buy Date</th>
            <th>Start Date</th>
            <th>Price</th>
            <th>Employee Name</th>
            <th>Ticket Name</th>
        </tr>
        @foreach (var item in (dynamic)Model)
        {
            <tr>
                <td>@Html.Encode(item.Id)</td>
                <td>@Html.Encode(item.BuyingDate)</td>
                <td>@Html.Encode(item.StartDate)</td>
                <td>@Html.Encode(item.Price)</td>
                <td>@Html.Encode(item.EmployeeName)</td>
                <td>@Html.Encode(item.TicketName)</td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListTickets",
        new { page }))
</div>
