@model IEnumerable<FitnessClub.Models.Ticket>
@{
    ViewBag.Title = "ListTickets";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Ticket List</h2>

<div>
    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Buy Date</th>
            <th>Start Date</th>
            <th>Price</th>
            <th>Employee Name</th>
            <th>Ticket Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in (dynamic)Model)
        {
        <tr>
            <td>@Html.Encode(item.ID)</td>
            <td>@Html.Encode(item.BuyingDate)</td>
            <td>@Html.Encode(item.StartDate)</td>
            <td>@Html.Encode(item.Price)</td>
            <td>@Html.Encode(item.EmployeeName)</td>
            <td>@Html.Encode(item.TicketName)</td>
            <td>@Html.ActionLink("Edit", "Edit", "Admin")</td>
            <td>@Html.ActionLink("Delete", "Delete", "Admin")</td>
        </tr>
        }
    </table>
</div>

