@model PagedList.IPagedList<FitnessClub.Models.TicketType>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListTicketTypes";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}



<div>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <h4>Ticket Types</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Find: @Html.TextBox("seachString", null, new { placeholder = "Type Name" })
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Search" />
                </div>
            </div>
        </div>
    }
    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Type Name</th>
            <th>Number of Daya</th>
            <th>Occasion</th>
            <th>Status</th>
            <th>Price</th>
            <th>Start Hour</th>
            <th>End Hour</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @{var i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Encode(i)</td>
                <td>@Html.Encode(item.Name)</td>
                <td>@Html.Encode(item.DayNum)</td>
                <td>@Html.Encode(item.OccasionNum)</td>
                <td>@Html.Encode(item.Status)</td>
                <td>@Html.Encode(item.Price)</td>
                <td>@Html.Encode(item.StartHour)</td>
                <td>@Html.Encode(item.EndHour)</td>
                <td>@Html.ActionLink("Edit", "EditTicketTypes", item)</td>
                <td>
                    @if (!item.IsDeleted)
                    {
                        @Html.ActionLink("Delete", "DeleteTicketType", new { Id = item.Id })
                    }
                    else
                    {
                        @Html.Encode("Delete")
                    }
                </td>
            </tr>
            ++i;
        }
    </table>
    <br />
    <div class="container">
        <div class="row vcenter">
            <div class="col-md-2" id="anchor">
                @Html.ActionLink("Add new type", "CreateTicketType", "Admin", new { id = "mask" })
            </div>
            <div class="col-md-2 col-md-offset-3 ">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ListTicketTypes",
                    new { page }))
            </div>
            <div class="col-md-2 col-md-offset-3" id="expi">
                @using (Html.BeginForm("SaveToXls", "Admin", new { what = "Type" }, FormMethod.Post))
                {
                    <button id="exp" type="submit">Export</button>
                }
            </div>
        </div>
    </div>
</div>

