@model PagedList.IPagedList<FitnessClub.Models.Employee>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListEmployees";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div>

    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <h4>Employee List</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Find: @Html.TextBox("SearchString", null, new { placeholder = "Employee Name" })
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Search" />
                </div>
            </div>
        </div>
    }

    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Deleted</th>
            <th>Department</th>
            <th>Work Place</th>
            <th>Start Hour</th>
            <th>End Hour</th>
            <th>Working Days</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Encode(item.Id)</td>
                <td>@Html.Encode(item.Name)</td>
                <td>@Html.Encode(item.IsDeleted)</td>
                <td>@Html.Encode(item.Department)</td>
                <td>@Html.Encode(item.WorkPlaceName)</td>
                <td>@Html.Encode(item.StartHour)</td>
                <td>@Html.Encode(item.EndHour)</td>
                <td>@Html.Encode(item.Days)</td>
                <td>@Html.ActionLink("Edit", "EditEmployee", item)</td>
                <td>
                    @if (!item.IsDeleted)
                    {
                        @Html.ActionLink("Delete", "DeleteEmployee", new { Id = item.Id })
                    }
                    else
                    {
                        @Html.Encode("Delete")
                    }
                </td>
            </tr>
        }
    </table>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-2" id="anchor">
                @Html.ActionLink("Add new employee", "CreateEmployee", "Admin", new { id = "mask" })
            </div>
            <div class="col-md-2 col-md-offset-3">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ListEmployees",
                    new { page }))
            </div>
            <div class="col-md-2 col-md-offset-3">
                @using (Html.BeginForm("SaveToXls", "Admin", new { what = "Employee" }, FormMethod.Post))
                {
                    <button id="exp" type="submit">Export</button>
                }
            </div>
        </div>
    </div>
</div>



