@model PagedList.IPagedList<FitnessClub.Models.Room>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListRooms";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Rooms</h2>

<div>
    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Room Name</th>
            <th>Deleted</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Encode(item.Id)</td>
                <td>@Html.Encode(item.Name)</td>
                <td>@Html.Encode(item.IsDeleted)</td>
                <td>@Html.ActionLink("Edit", "EditRoom", item)</td>
                <td>
                    @if (!item.IsDeleted)
                    {
                        @Html.ActionLink("Delete", "DeleteRoom", new { Id = item.Id })
                    }
                    else
                    {
                        @Html.Encode("Delete")
                    }
                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ListRooms",
        new { page }))
</div>

<div>
    @Html.ActionLink("Add new room", "CreateRoom")
</div>