@model IEnumerable<FitnessClub.Models.Client>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
}

<h2>Client list</h2>

<div>
    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>ImagePath</th>
            <th>Deleted</th>
            <th>InsertedDate</th>
            <th>CNP</th>
            <th>Sex</th>
            <th>InserterName</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model){
        <tr>
            <td>@Html.Encode(item.Id)</td>
            <td>@Html.Encode(item.FirstName)</td>
            <td>@Html.Encode(item.LastName)</td>
            <td>@Html.Encode(item.Phone)</td>
            <td>@Html.Encode(item.Email)</td>
            <td>@Html.Encode(item.ImagePath)</td>
            <td>@Html.Encode(item.IsDeleted)</td>
            <td>@Html.Encode(item.InsertedDate)</td>
            <td>@Html.Encode(item.IdentityNumber)</td>
            <td>@Html.Encode(item.Sex)</td>
            <td>@Html.Encode(item.InserterName)</td>
            <td>@Html.ActionLink("Edit","EditClient",item)</td>
            <td>
                @if (!item.IsDeleted)
                {
                    @Html.ActionLink("Delete","DeleteClient",new { Id = item.Id})
                }
                else
                {
                    @Html.Encode("Delete")
                }
            </td>
        </tr>
        }
    </table>
</div>

<div>
    @Html.ActionLink("Add new client","CreateClient")
</div>

