@model IEnumerable<FitnessClub.Models.Room>
@{
    ViewBag.Title = "ListRooms";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Rooms</h2>

<div>
    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Room Name</th>
            <th>Deleted</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in (dynamic)Model)
        {
            <tr>
                <td>@Html.Encode(item.Id)</td>
                <td>@Html.Encode(item.Name)</td>
                <td>@Html.Encode(item.IsDeleted)</td>
                <td>@Html.ActionLink("Edit", "Edit", "Admin")</td>
                <td>@Html.ActionLink("Delete", "Delete", "Admin")</td>
            </tr>
        }
    </table>
</div>

