@model PagedList.IPagedList<FitnessClub.Models.Event>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListEvents";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Event List</h2>

<div>

    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Find: @Html.TextBox("SearchString", null, new { placeholder = "Client name" })
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Search" />
                </div>
            </div>
        </div>
    }
    <hr />
    <table class="info">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Type</th>
            <th>Client Name</th>
            <th>Employee Name</th>
            <th>Room Name</th>
        </tr>
        @foreach (var item in (dynamic)Model)
        {
            <tr>
                <td>@Html.Encode(item.Id)</td>
                <td>@Html.Encode(item.Date)</td>
                <td>@Html.Encode(item.Type)</td>
                <td>@Html.Encode(item.ClientName)</td>
                <td>@Html.Encode(item.EmployeeName)</td>
                <td>@Html.Encode(item.RoomName)</td>
            </tr>
        }
    </table>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ListEvents",
                    new { page }))
            </div>
            <div class="col-md-2 col-md-offset-3">
                @using (Html.BeginForm("SaveToXls", "Admin", new { what = "Event" }, FormMethod.Post))
                {
                    <button id="exp" type="submit">Export</button>
                }
            </div>
        </div>
    </div>
</div>
